<html >
    <meta charset="UTF-8">
<head>
    <title>JAGUARES DRIVE</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="icon" href="img/logo- jaguares drive.png" type="image/png" sizes="512x512">

    <style> 
        body { background: linear-gradient(to bottom, #976fd8, #DBC9F5); 
            margin: 0;
            height: 190vh;
            display: flex; 
            justify-content: center;
            align-items: center; }
       </style> 
</head>
<body>

    <div class="container mt-5">
        <div class="card bg-light p-3 col-sm-6 mx-auto text-center my-4 rounded border">
            <form action="../models/crud.php" method="post">
                 <h1 style="font-weight: normal;">Crear Cuenta</h1>
                <br>
            
                <div class="form-group">
                    <label for="nom">Nombre:</label>
                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Ingrese su nombre..." required>
                </div>

                <div class="form-group">
                    <label for="matricula">Matrícula:</label>
                    <input type="text" class="form-control" id="matricula" name="matricula" placeholder="Ingrese su matrícula..." required>
                </div>

                <div class="form-group">
                    <label for="apep">Apellido Paterno:</label>
                    <input type="text" class="form-control" id="apep" name="apep" placeholder="Ingrese su apellidp paterno..." required>
                </div>

                <div class="form-group">
                    <label for="apem">Apellido Materno:</label>
                    <input type="text" class="form-control" id="apem" name="apem" placeholder="Ingrese su apellido materno..." required>
                </div>

                <div class="form-group">
                    <label for="fechan">Fecha de Nacimiento:</label>
                    <input type="date" class="form-control" id="fechan" name="fechan" placeholder="Ingrese su fecha de nacimiento..." required>
                </div>

                <div class="form-group">
                    <label for="email">Correo Electrónico:</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese su correo electrónico..." required>
                </div>

                <div class="form-group">
                    <label for="contra">Contraseña:</label>
                    <input type="password" class="form-control" id="contra" name="contra"  placeholder="Ingrese su contraseña..." required>
                </div>

                <div class="form-group">
                    <label for="tel">Teléfono:</label>
                    <input type="text" class="form-control" id="tel" name="tel" placeholder="Ingrese su número de teléfono..." required>
                </div>

                <div class="form-group">
                    <label for="placas">Placas:</label>
                    <input type="text" class="form-control" id="placas" name="placas" placeholder="Ingrese placas..." required>
                </div>

                <div class="form-group">
                    <label for="mode">Modelo de Auto:</label>
                    <input type="text" class="form-control" id="mode" name="mode" placeholder="Ingrese modelo de placas..." required>
                </div>

                <div class="form-group">
                    <label for="col">Color de Auto:</label>
                    <input type="text" class="form-control" id="col" name="col" placeholder="Ingrese color del auto..." required>
                </div>

                <div class="form-group">
                    <label for="marca">Marca de Auto:</label>
                    <input type="text" class="form-control" id="marca" name="marca" placeholder="Ingrese marca del auto..." required>
                </div>
                <button type="submit" class="btn btn-primary" name="registro_conductor">Registrar</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-Xe8FIISpaF1FODdP7IjFmzHeGeFZhUByu2DdTm6l5on5Cv5uUZcXnKjpBy6QhpF4" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyIx8vHV5z5q1gF94tLl5MDO/aDlO7f5J" crossorigin="anonymous"></script>

</body>

 <!-- <footer>
        <p>&copy; 2018 Jaguares de Chiapas</p>
    </footer> -->
</html>

